    /* Body Styles */
    body {
        overflow: auto;
        margin-left: 200px;
        background-color: #FAF9F6;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Sidebar Styles */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background-color: #F5F5DC;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1); 
    }
    
    /* Admin Name Style */
    .admin-name {
        font-size: 1.5rem;
        color: #003153;
        font-weight: bold; 
        text-align: center;
        margin-bottom: 15px;
        font-family: Arial, sans-serif;
    }
    
    /* Tagapab-Gabay Label Style */
    .sidebar-label {
        font-size: 1rem;
        color: #8B8B8B;
        text-align: center;
        margin-bottom: 0;
        font-family: Arial, sans-serif;
    }
    
    /* Button Styles */
    .btn {
        width: 100%;
        padding: 15px;
        background-color: #FFFFFF;
        border: 2px solid #003153;
        color: #003153;
        text-align: left;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 20px;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
    }
    
    .btn.active {
        background-color: #003153;
        color: white;
        font-weight: bold;
    }
    
    .btn i {
        font-size: 18px;
        width: 20px;
        text-align: center;
        margin-right: 10px;
    }
    
    .btn.active i {
        color: #fff;
    }
    
    .btn:hover {
        background-color: #002439;
        color: #fff;
        border-color: #002439;
    }
    
    .btn a {
        text-decoration: none !important;
        color: inherit;
    }
    
    .separator {
        margin: 10px 0;
        border: none;
        border-top: 2px solid #003153;
    }
    
    /* Logout Button Styles */
    .logout-btn {
        background-color: #FF000D;
        color: white;
        border: none;
        border-radius: 50px;
        margin-bottom: auto;
        transition: background-color 0.3s ease;
    }
    
    .logout-btn:hover {
        background-color: #cc0000;
    }
    
    @media (max-width: 768px) {
        .sidebar {
            width: 200px;
            padding: 15px 10px;
        }
    
        .btn {
            font-size: 0.9rem;
            padding: 10px;
        }
    
        .sidebar-label {
            font-size: 1.25rem;
        }
    }
    
    /* Profile Form Styles */
    .profile-container {
        width: 100%;
        max-width: 87%;
        margin: 30px 60px;
        padding: 40px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }
    
    .profile-header h2 {
        text-align: center;
        padding-bottom: 10px;
        color: #003153;
    }
    
    .profile-form {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    .form-content {
        display: flex;
        width: 100%;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;
    }
    
    .photo-placeholder {
        font-size: 100px;
        color: transparent;
        border: #003153 3px dashed;
        width: 150px;
        height: 150px;
        display: inline-block;
        margin-bottom: 10px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    
    .photo-upload {
        cursor: pointer;
        font-style: italic;
        color: #8B8B8B;
        font-size: 12px;
    }
    
    .photo-upload:hover {
        color: #003153;
        text-decoration: underline 2px solid #003153;
    }

    .error-message {
        color: red;
        background-color: #f8d7da;;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        text-align: left;
    }
    
    .save-photo, .cancel-photo {
        width: 65px;
        padding: 8px 15px;
        font-size: 10px;
        margin-right: 5px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .save-photo {
        background-color: #003153;
        color: white;
    }
    
    .cancel-photo {
        padding: 6px;
        background-color: transparent;
        color: #003153;
        border: none;
    }
    
    .save-photo:hover {
        background-color: #002439;
    }
    
    .cancel-photo:hover {
        background-color: transparent;
        border: 2px solid #003153;
        border-radius: 5px;
    }
    
    .form-fields {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
        min-width: 300px;
    }
    
    .name-container {
        display: flex;
        gap: 20px;
        width: 100%;
        color: #003153;
    }
    
    .first-name, .middle-initial {
        flex: 1;
    }
    
    label {
        font-weight: bold;
        margin-bottom: 8px;
        color: #003153;
    }
    
    input {
        padding: 15px 10px;
        border: 2px solid #003153;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px;
        height: 50px;
    }
    
    @media (max-width: 768px) {
        .profile-container {
            width: 90%;
            max-width: 90%;
            margin: 20px;
        }
    
        .form-content {
            flex-direction: column;
            gap: 20px;
        }
    
        .form-fields {
            min-width: 100%;
        }
    }
    
    /* Save and Cancel Button Styles */
    .save-btn, .cancel-btn {
        padding: 12px 20px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 120px; 
        height: 50px; 
        margin-left: auto;
    }
    
    .save-btn {
        background-color: #8B8B8B;
        color: white;
        border: none;
    }
    
    .cancel-btn {
        background-color: transparent;
        font-weight: bold;
        color: #003153;
        border: none;
    }
    
    .save-btn:hover {
        background-color: #003153;
    }
    
    .cancel-btn:hover {
        background-color: transparent;
        border: 2px solid #003153;
        border-radius: 5px;
    }
    
    /* Container to align buttons side by side to the right */
    .cancelSave {
        display: flex;
        justify-content: flex-end; 
        gap: 10px; 
        width: 100%; 
        margin-top: 20px; 
    }
    
    .cancelSave button {
        margin: 0; /* Remove default margin from buttons */
        padding: 0; /* Remove default padding from buttons */
    }
    
    /* Edit Button Styles */
    .edit-btn {
        padding: 12px 20px;
        font-size: 16px;
        background-color: #8B8B8B;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 120px; 
        height: 50px; 
        margin-left: auto;
    }
    
    .edit-btn:hover {
        background-color: #003153;
    }
    
    /* Media Queries */
    @media (max-width: 768px) {
        .profile-container {
            width: 90%;
            max-width: 90%;
            margin: 20px;
        }
    
        .form-content {
            flex-direction: column;
            gap: 20px;
        }
    
        .form-fields {
            min-width: 100%;
        }
    
        .save-btn, .cancel-btn {
            font-size: 12px;
            padding: 8px 15px;
        }
    }