
.status-users-container {
    width: calc(100% - 240px);
    margin: 120px 10px 10px 240px;
    transition: all ease 0.3s;
}

body.sidebar-collapsed .status-users-container {
    width: calc(100% - 10px);
    margin: 120px 10px 10px 10px;
}
.row {
    display: grid;
    gap: 10px;
}

.titles-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 10px;
    gap: 10px;
}

.titles-row .col:first-child {
    grid-column: span 6;
}

.titles-row .col:last-child {
    grid-column: span 2;
}

.counts-row {
    grid-template-columns: repeat(8, 1fr);
}

.col {
    background-color: #FFFFFF;
    border: 2px solid #003153;
    border-radius: 6px;
    padding: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    min-height: 50px;
    color: #000000; 
}

.col.title {
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: #003153;
}

.col strong {
    font-size: 22px;
    margin-top: 5px;
    color: #003153;
    display: block;
}

.chart-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 10px 10px 10px 240px;
    transition: all ease 0.3s;
}
body.sidebar-collapsed .chart-box {
    margin: 10px 0 10px 0;
}
.chart-container {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    overflow: hidden;
}

.chart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.chart-header h3 {
    margin-top: 25px;
    font-size: 26px;
    color: #003153;
    font-weight: normal;
    white-space: nowrap;
}

.filter-form {
    display: flex;
    align-items: center;
    gap: 5px;

}

.filter-form label {
    font-size: 16px;
    color: #003153;
    font-weight: 600;
    user-select: none;
}

.filter-form select {
    min-width: 120px;
    padding: 8px 14px;
    font-size: 26px;
    font-weight: bold;
    color: #003153;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.filter-form select:hover,
.filter-form select:focus {
    box-shadow: 0 0 8px rgba(0, 49, 83, 0.4);
}

#subjectChart {
    width: 100%;
    height: 500px;
    border-radius: 12px;
    display: block;
}

#userPieChart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100% !important;
    width: 100% !important;
}