
.booking-status-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin: 130px 10px 0 240px;
    transition: all 0.3s ease;
    box-sizing: border-box;

}

body.sidebar-collapsed .booking-status-buttons {
    margin: 130px 10px 0 10px;
}

.status-btn {
    padding: 12px 20px;
    background-color: transparent;
    color: #003153;
    border: 2px solid #003153;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.status-btn:hover, .status-btn.status-selected{
    background-color: #003153;
    color: white;
    font-weight: bold;
}

.learner-booking-entry {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px 10px 0 240px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s ease;
}

body.sidebar-collapsed .learner-booking-entry {
        margin: 20px 10px 0 10px;
}

.learner-col {
    padding: 10px;
    box-sizing: border-box;
}

.learner-col-left {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learner-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #003153;
}

.learner-col-labels {
    width: 15%;
    color: #8B8B8B;
    font-size: 0.95rem;
}

.learner-col-values {
    width: 45%;
    color: #003153;
    font-weight: bold;
    font-size: 1rem;
}

.learner-info-line {
    margin: 6px 0;
}

.learner-action-buttons {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.accept-btn, .decline-btn {
    padding: 10px 18px;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 120px;
}

.accept-btn {
    background-color: #003153;
}

.accept-btn:hover {
    background-color: #002440;
}

.decline-btn {
    border: 2px solid #003153;
    background-color: transparent;
    color: #003153;
}

.decline-btn:hover {
    background-color: #002440;
}

.no-bookings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #003153;
    font-size: 1.2rem;
    margin-top: 40px;
    font-weight: bold;
    margin: 20px 10px 0 240px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    width: calc(100% - 290px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

body.sidebar-collapsed .no-bookings {
    width: calc(100% - 60px);
    margin: 20px 10px 0 10px;
}